<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/calculator"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/calculator"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".workmanager.WorkManagerActivity" />
        <activity android:name=".mvvm.vm.MvvmTwoActivity" />
        <activity android:name=".mvvm.vmandlivedata.MvvmActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".CameraKitActivity" />
        <activity android:name=".dependencyinjection.DaggerActivity" />
        <activity android:name=".backgroundjob.BackgroundJobActivity" />
        <activity android:name=".services.ServiceActivity" />
        <activity android:name=".gestures.GesturesActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".fragmentactivity.ViewpagerActivity" />
        <activity android:name=".moviedetails.MoviesCardViewActivity" />

        <service android:name=".firebasetest.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebasetest.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".firebasetest.FirebaseUserFirestoreActivity" />
        <activity android:name=".simplecalculator.NetworkChangeListener" />
        <activity android:name=".firebasetest.ProfileTestActivity" />
        <activity
            android:name=".firebasetest.FirebaseTestActivity"
            android:label="@string/title_activity_firebase_test" />
        <activity android:name=".contentprovider.ContentProviderActivity" />
        <activity
            android:name=".mainactivity.MainActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simplecalculator.CalculatorActivity"
            android:label="Calculator"
            android:parentActivityName=".mainactivity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mainactivity.MainActivity" />
        </activity>
        <activity
            android:name=".simplecalculator.DisplayResultActivity"
            android:label="Result"
            android:parentActivityName="simplecalculator.CalculatorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="simplecalculator.CalculatorActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity
            android:name=".fragmentactivity.FragmentActivityXML"
            android:configChanges="orientation|screenSize"
            android:label="FragmentXML"
            android:parentActivityName=".mainactivity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mainactivity.MainActivity" />
        </activity>
        <activity android:name=".fragmentactivity.FragmentRunTIme" />
        <activity android:name=".fragmentactivity.FragmentTestActivity" />
        <activity android:name=".moviedetails.MoviesActivity" />
        <activity android:name=".permissionsandjson.PermissionTestActivity" />
        <activity android:name=".sharing.SharingActivity" />
        <activity
            android:name=".database.DatabaseActivity"
            android:label="@string/title_activity_database"
            android:theme="@style/AppTheme" />
        <activity android:name=".firebasetest.FirebaseUserActivity" />
        <activity android:name=".BaseActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="defaultnotificationchannel" />

        <service android:name=".services.IntentServiceClass" />
        <service android:name=".services.ServiceClass" />
        <service android:name=".services.BoundService" />
        <service
            android:name=".backgroundjob.JobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>